.note {
  border: 1px solid;
  width: 30em;
  margin: 0.5em;
  padding: 1em;
  text-align: center;

  .buttons {
    float: right;

    .button {
      margin: 0 0.25em;
    }
  }

  .contents {
    white-space: pre-wrap;
  }
}

